# YoyoAI API Keys

# Google Gemini API Key required for Native Audio & VAD methodologies
GEMINI_AI_API=

# Pyannote API Key required for older STT and Diarization scripts
PYANNOTE_API_KEY=

# OpenAI API Key required for GPT-4o Semantic evaluations
OPENAI_API_KEY=

# Sarvam AI API for specific high-quality Indian language batch STT extraction
SARVAM_AI_API=
